{% extends "layouts/centered.html.twig" %}

{% block title %}{{ "translations.title" | trans }}{% endblock %}
{% block heading %}{{ "translations.title" | trans }}{% endblock %}

{% block content %}
<p>{{ "translations.description" | trans | markdown }}</p>

<pre><code class="language-yaml"># translations/en.yaml
greeting: "Hello!"

# translations/de.yaml
greeting: "Hallo!"</code></pre>

<p style="margin-top: 2rem; font-size: 1.2rem;">
  <code>{{ "{{" }} "greeting" | trans {{ "}}" }}</code>
</p>
{% endblock %}

{% block notes %}{{ "translations.notes" | trans }}{% endblock %}
